@import url('helpers.css');

@import url('email-main.css');

@import url('keeps-main.css');

@import url('main-header.css');

@import url('fonts.css');

@import url('home.css');

@import url('about.css');

@import url('user-msg.css');


body, html {
    margin: 0;
}

@media (max-width: 360px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 360px) {
    html {
        font-size: 16px;
    }
}